* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg--keyboard:#525252;
  --bg-li: #414141;
  --font-color:rgb(22, 71, 106);   
  --body-color:#d1cbc2;
  --msg--color:#ffff;
}

.layer {
  background:var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  font-size: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main, .header {
  opacity: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--body-color);
  text-transform: uppercase;
}

.header {
  width: 100%;
}

.header__wrap {
  width: 80%;
  margin: 0 auto;
}

.main {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding: 16px;
  color: var(--font-color);
}

.msg {
  padding: 8px;
  text-align: center;
  color:var(--msg--color);
  font-size: 1.5rem;
}

.hangman__box {
  width: 100%;
  padding-top: 40px;
}

.hangman__wrap {
  margin: 0 auto;
  width: 50%;
}

.hangman__box .hangman__wrap img{
  width: 100%;
}

.show-box { 
  width: 100%;
  margin: 15px 0 15px 0;
}

.answer {
  width: 100%;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  color: var(--font-color);
}

.lives {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color:var(--font-color);
}

.play__again {
  display: block;
  margin: 0 auto 10px;
  border-radius: 7px;
  padding: 8px;
  width: 21%;
  font-size: 1rem;
  background-color: var(--body-color);
  cursor: pointer;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.alphabet-wrap {
  background:var(--bg--keyboard);
  width: 80%;
  margin: 0 auto;
  padding: 12px;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
}

ul {
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  justify-content: space-between;
  background: var(--bg-li);
  display: inline;
  padding: 6.5px;
  font-size: 1.2rem;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.4));
  color: #f4f4f4;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .wrap {
    width: 50%;
  }

  .hangman__wrap {
    width: 35%;
  }

  .alphabet-wrap {
    width: 77%;
  }

  li {
    font-size: 2rem;
    padding: 15px;
  }
}

@media screen and (min-width: 1020px) {
  .hangman__wrap {
    width: 40%;
  }

  .answer, .lives {
    font-size: 2rem;
  }

  li {
    padding: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .hangman__wrap {
    width: 30%;
  }

  .hangman__box .hangman__wrap img{
    width: 100%;
  }

  h1 {
    font-size: 3rem
  }

  .msg {
    font-size: 3.5rem;
  }

  .play__again {
    font-size: 2rem;
  }

  .alphabet-wrap {
    width: 65%;
  }

  li {
    padding: 47px;
  }
  
  .answer {
    font-size: 3rem;
  }

  .lives {
    font-size: 2.5rem;
  }
}